
:root{
    --color1:rgb(73, 109, 181);
    --color2: #0a0337;
}

*{
    /* font-family: 'Helvetica', sans-serif; */
    margin: 0; padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border: none;
} 

 *::selection{
    background: var(--color1);
} 



/* -------------------------------------------------- */

html{
    font-size: 50%;
    overflow-x: hidden ; 
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #222;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb{
    background: #180a73;   
    border-radius: 10px;
}


/* --------------------------------------------------- */

body{
    /* background: linear-gradient(to bottom,  #af53e0,#391170, #7c1976);    */
    background: linear-gradient(to bottom,  #A0A6BE,#C481A7, #E85C90); 
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 50vh; 
    padding: 1rem;
} 

.btn{
    padding: .7rem 3rem;
    background: var(--color2);
    color: #fff;
    cursor:pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: var(--color1);
}

.heading{
     margin: 0 6rem;
     font-size: 4rem;
     font-family: "sans-serif"; 
     padding: 1rem;
     border-bottom: .1rem solid #fff4; 
     color: var(--color2);
} 


header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background-color: #714674;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(129, 13, 90, 0.979);
}

header .user .name{
    font-size: 3rem;
    color: var(--color2);
}

header .user .post{
    font-size: 1.5rem;
    color: #eee;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: var(--color2);
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem  ;
}

header .navbar ul li a:hover{
    background: var(--color1);
}

#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background: var(--color2);
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none; 
}


/* --------------------------------------------------- */

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 3rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

.home h1{
    font-size:5rem;
}

.home h1 span{
    color: var(--color2);
}

.home .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}
.home p{
    font-size:2rem;
    padding: 1rem 0;
}


/* --------------------------------------------------- */


.about .row{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .heading span{
    color: #0a0337;
}

.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left:6rem ;
}

.about .row .info h3{
    font-size:2rem;
    padding: 1rem 0 ;
    font-weight: normal;
}

.about .row .info h3 span{
    /* color: #eee;  */
    padding: 0 .5rem;
} 

.about .row .info p{
    font-size:2rem;
    padding: 1rem 0;
}
  
.about .row .counter{
    flex: 1 1 48rem;
    display:flex ;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 20rem;
    background: var(--color2);
    text-align: center;
    padding: 2rem;
    margin: 2rem; 
}
.about .row .counter .box .media-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(19, 19, 100, 0.337);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.about .row .counter .box .media-button:hover {
    background-color: var(--color1);
}

.education .row{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.achievement-section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

.achievement-box {
        display: inline-block; 
        width: 300px; 
        padding: 20px;
        margin: 10px;
        color:whitesmoke; 
}


/* Button styling for Academic and Curriculum buttons (optional) */
.achievement-box button {
    margin-bottom: 5px;
    font-size:15px;
    background-color:var(--color2);
    border-radius: 50px;
    padding:15px;
    color:white;
    display:flex;  
}

.achievement-box ul{
    line-height:1.6;
}
.achievement-box p{
    font-weight: 300;
}

.achievement-box.active .achievement-content {
    font-size: 15px;
    font-weight: 800;
    opacity: 1;
    max-height: 600px;
    transition: opacity 1s linear, max-height 1s linear;
    overflow: hidden;
}
  
.achievement-box .achievement-content {
    font-size: 15px;
    font-weight: 800;
    opacity: 0;
    max-height: 0;
    transition: opacity 1s linear, max-height 1s linear;
    overflow: hidden;
}
  

/* --------------------------------------------------- */

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex: 1 1 30rem;
    padding: 6rem;
}

.contact .row .content .info h3{
    display: flex; 
    align-items: center;
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
    font-weight: normal;
} 

.contact .row .content .info h3 i{
    padding-right: 3rem;
    color: var(--color2);
}
.contact .row .content .info h3 i{
    padding-right: 3rem;
    color: var(--color2);
}
.contact .row .content .info .link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

/* --------------------------------------------------- */

footer {
    background-color:#000000;
    color: white;
    padding: 20px;
    text-align: center;
  }

  footer p {
    margin: 0;
    font-size: 15px;
  }
  
  

  

/* media queries */

@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width:991px) {
    header{
        left:-120%;
    }

    #menu{
        display: block;
    }

    header.toggle{
        left: 0%;
    }

    body{
        padding: 0;
    }
}

@media (max-width:768px) {
    html{
        font-size: 50%;
    }
}

@media (max-width:400px) {
    header{
        width:100vw;
    }
    .heading{
        margin: 0 3rem;
    }
    .about .row .counter .box{
        width: 100%;
    }
}


